
/** $VER: Resources.rc (2024.07.22) P. Stuer **/

#include "Resources.h"

#include <winres.h>

language LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

VS_VERSION_INFO versioninfo
fileversion     NUM_FILE_MAJOR,    NUM_FILE_MINOR,    NUM_FILE_PATCH,    NUM_FILE_PRERELEASE
productversion  NUM_PRODUCT_MAJOR, NUM_PRODUCT_MINOR, NUM_PRODUCT_PATCH, NUM_PRODUCT_PRERELEASE
fileflagsmask   0x3FL
#ifdef _DEBUG
fileflags       VS_FF_DEBUG
#else
fileflags       0
#endif
fileos          VOS_NT_WINDOWS32
filetype        VFT_DLL
filesubtype     VFT2_UNKNOWN
{
    block "StringFileInfo"
    {
        block "040904E4" // U.S. English, Multilingual character set
        {
            value "FileVersion",      STR_FILE_VERSION     "\0"
            value "FileDescription",  STR_FILE_DESCRIPTION "\0"
            value "LegalCopyright",   STR_COPYRIGHT        "\0"
            value "LegalTrademarks",                       "\0"
            value "Comments",         STR_COMMENTS         "\0"
            value "CompanyName",      STR_COMPANY_NAME     "\0"
            value "InternalName",     STR_INTERNAL_NAME    "\0"
            value "OriginalFilename", STR_FILE_NAME        "\0"
            value "ProductName",      STR_PRODUCT_NAME     "\0"
            value "ProductVersion",   STR_PRODUCT_VERSION  "\0"
        }
    }

    block "VarFileInfo"
    {
        value "Translation", 0x409, 1252    // U.S. English, Multilingual character set
    }
}

#include "PreferencesLayout.h"

IDD_PREFERENCES dialogex 0, 0, 0, 0
style DS_SETFONT | WS_CHILD
font 8, "Segoe UI", 400, 0, 1
{
    rtext       "Pin to:",                          IDC_STATIC,             X_A11, Y_A11 + 2, W_A11, H_A11
    edittext                                        IDC_PIN_TO,             X_A12, Y_A12,     W_A12, H_A12, ES_AUTOHSCROLL

    rtext       "Consider as played after:",        IDC_STATIC,             X_A13, Y_A13 + 2, W_A13, H_A13
    edittext                                        IDC_THRESHOLD_FORMAT,   X_A14, Y_A14,     W_A14, H_A14, ES_AUTOHSCROLL

    rtext       "Retention period:",                IDC_STATIC,             X_A20, Y_A20 + 2, W_A20, H_A20
    edittext                                        IDC_RETENTION_VALUE,    X_A21, Y_A21,     W_A21, H_A21, ES_RIGHT | ES_AUTOHSCROLL | WS_TABSTOP
    combobox                                        IDC_RETENTION_UNIT,     X_A22, Y_A22,     W_A22, H_A22, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    control     "Write statistics to tags",         IDC_WRITE_TO_TAGS, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, X_A50, Y_A50, W_A50, H_A50
}
